include head 

body 
    - var book = library[num - 1]
    h2 #{book.title}
    p Автор: #{book.author}
    p Дата выпуска: #{book.dataRelease}

    if book.isTaken == null 
        p В наличие
        if user.userName != "null"
            form(action="takeBook", method="post")
                button(type="submit", name="book", value=num, class="w3-panel w3-leftbar")
                    p(class="fa fa-check-square") Забронировать книгу
    else
        if user.userRights != false
            p Книга была забронирована за пользователем #{book.owner}

        if user.userName == book.owner
            p #{book.period} книгу требуется вернуть!
            form(action="returnBook", method="post")
                button(type="submit", name="book", value=num, class="w3-panel w3-leftbar")
                    p(class="fa fa-window-close") Вернуть книгу
        else
            p Книга появится в наличие #{book.period}

    dialog#update
        form(action="updateBookInfo", method="post")
            label(for="title")
                p Название книги
            input(type="text", value=book.title, name="title", class="w3-input w3-light-grey") 

            label(for="dataRelease")
                p Дата выпуска
            input(type="text", value=book.dataRelease, name="dataRelease", class="w3-input w3-light-grey") 

            label(for="author")
                p Автор книги
            input(type="text", value=book.author, name="author", class="w3-input w3-light-grey") 

            label(for="Owner")
                p Владелец
            input(type="Owner", value=book.owner, name="owner", class="w3-input w3-light-grey")

            label(for="period") 
                p Период
            input(type="period", value=book.period, name="period", class="w3-input w3-light-grey")
            br
            
            button(name="book", type="submit", value=num, class="w3-panel w3-leftbar")
                p Сохранить
            
            button(type="button", onclick="window.update.close()", class="w3-panel w3-leftbar")
                p Отменить

    dialog#delete
        p Вы точно уверены, что хотите удалить эту книгу?
            form(action="deleteBook", method="post")
                button(name="book", type="submit", value=num, class="w3-panel w3-leftbar")
                    p да
                button(type="button", onclick="window.delete.close()", class="w3-panel w3-leftbar")
                    p нет

    if user.userRights != false
        button(onclick="window.update.showModal()", class="w3-btn w3-panel w3-leftbar")
            p(class="fa fa-edit") Редактировать данные
        button(onclick="window.delete.showModal()", class="w3-btn w3-panel w3-leftbar")
            p(class="fa fa-stack-overflow") Убрать с полок
